.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
  }
  
  /* .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */