<div class="product-page" *ngIf="product">

  <!-- IMAGE -->
  <div class="product-image">

    <img
      [src]="product.image"
      [alt]="product.name">

  </div>

  <!-- DETAILS -->
  <div class="product-page" *ngIf="product">

  <a
    routerLink="/menu"
    class="back-link">

    ← Back to Menu

  </a>

  <div class="product-image">

    <img
      [src]="product.image"
      [alt]="product.name">

  </div>

  <div class="product-info">

    @if (product.category === 'Hot Coffee') {

      <span class="badge">
        ☕ Signature Coffee
      </span>
    
    }
    
    @if (product.category === 'Iced Coffee') {
    
      <span class="badge">
        🧊 Ice Cold Favourite
      </span>
    
    }
    
    @if (product.category === 'Pastries') {
    
      <span class="badge">
        🥐 Freshly Baked
      </span>
    
    }
    
    @if (product.category === 'Desserts') {
    
      <span class="badge">
        🍰 Chef's Dessert
      </span>
    
    }

    <h1>{{ product.name }}</h1>


    <p class="description">
      {{ product.description }}
    </p>

    <p class="description">
      {{ product.description }}
    </p>
    
    <div class="product-specs">
    
      <p>
        <strong>Size:</strong>
        {{ product.size }}
      </p>
    
      <p>
        <strong>Calories:</strong>
        {{ product.calories }} kcal
      </p>
    
      <p>
        <strong>Ingredients:</strong>
      </p>
    
      <ul class="ingredients-list">
        <li *ngFor="let ingredient of product.ingredients">
          {{ ingredient }}
        </li>
      </ul>
    
    </div>


    <h2 class="price">
      R{{ product.price.toFixed(2) }}
    </h2>

    <div class="product-actions">

      <button
        class="add-btn"
        (click)="addToCart()">

        🛒 Add to Cart

      </button>

      <button
        class="wishlist-btn"
        (click)="toggleFavorite()">

        {{ isFavorite() ? '❤️ Remove from Wishlist' : '🤍 Add to Wishlist' }}

      </button>

    </div>

    <p
      class="added-message"
      *ngIf="addedMessage">

      ✔ Added to cart successfully!

    </p>

  </div>

</div>