.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 1px;
    width: 100%;
}

.coffee {
    background-color: rgb(255, 255, 255);
    flex: 1 1 250px;
    padding: 15px;
    max-width: 350px;
    border-radius: 8px;
    border: 1px solid rgb(3, 3, 3);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}
.coffee:hover {
    border-color: rgb(47, 47, 45);
    box-shadow: 0 0 20px rgba(34, 33, 31, 0.6);
    transform: translateY(-5px) scale(1.02);
}
h2 {
    color: white;
    text-align: center;
}