.menu-header {
    text-align: center;
    margin: 50px 0 40px;
}

.menu-header h2 {
    font-size: 42px;
    color: rgb(44,29,18);
    margin-bottom: 10px;
}

.menu-header p {
    color: #6b6b6b;
    font-size: 17px;
    margin: 0;
}

.menu-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:35px;
    padding:20px 50px 60px;
}

.coffee {
    position: relative;
    background: #fff;
    width: 300px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,.08);
    transition: .3s ease;
}


.coffee:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,.18);
}

.coffee-content:hover img {
    transform: scale(1.03);
}

.coffee img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.coffee h3 {
     margin:16px 18px 6px;
    padding:0;
    font-size:22px;
    font-weight: 700;
    color: rgb(44, 29, 18);
}

.coffee p {
    margin:0 18px;
    padding:0;
    font-size:14px;
    line-height:1.5;
    min-height:42px;
    color:#666;
}
.country {
    display: block;
    padding: 10px 20px;
    color: rgb(120, 120, 120);
    font-style: italic;
}

.coffee h4{
    margin:14px 18px;
    padding:0;
    font-size:24px;
    color:#5c3926;
}

/* Wishlist heart */
.wishlist-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;

    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.wishlist-icon:hover {
    transform: scale(1.1);
}

.wishlist-icon button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent;

    color: #c0392b;
    font-size: 27px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}


.button-group {
    display: flex;
    gap: 12px;
    margin: 20px 18px 18px;
}

/* Buttons for add */
.cart-btn {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(44, 29, 18);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.cart-btn:hover {
    background-color: rgb(92, 57, 38);
    transform: translateY(-2px);
}

/* Remove button */
.cart-btn.remove {
    background-color: #c0392b;
}

.cart-btn.remove:hover {
    background-color: #a93226;
}
/* Mobile */
@media (max-width: 768px) {
    .menu-container {
        padding: 20px;
    }

    .coffee {
        width: 100%;
        max-width: 350px;
    }

    menu-header {
        font-size: 32px;
    }
}